@import 'compass/css3';

body {
	font: 100% Verdana, Helvetica, Arial, sans-serif;
}

#main {
	font-size: 14px;
	width: 960px;
	margin: 25px auto;
	header {
		margin-bottom: 50px;
		h1 {
			font-size: 36px;
			margin-bottom: 15px;
		}
	}
	h2 {
		font-size: 24px;
		margin-bottom: 25px;
	}
	.demo {
		padding: 25px;
		margin-bottom: 50px;
		background-color: #f1f1f1;
	}
	code {
		background-color: #eee;
		font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
		font-size: 12px;
		display: block;
		padding: 10px;
		@include single-box-shadow(rgba(0,0,0,0.07), 0, 0, 1px, 1px, inset);
		@include border-radius(3px);
		border: 1px solid #ddd;
		overflow: auto;
	}
	.instructions p {
		margin: 10px 0 10px 0;
	}
}