/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_main.scss */
body {
  font: 100% Verdana, Helvetica, Arial, sans-serif;
}

/* line 7, ../sass/_main.scss */
#main {
  font-size: 14px;
  width: 960px;
  margin: 25px auto;
}
/* line 11, ../sass/_main.scss */
#main header {
  margin-bottom: 50px;
}
/* line 13, ../sass/_main.scss */
#main header h1 {
  font-size: 36px;
  margin-bottom: 15px;
}
/* line 18, ../sass/_main.scss */
#main h2 {
  font-size: 24px;
  margin-bottom: 25px;
}
/* line 22, ../sass/_main.scss */
#main .demo {
  padding: 25px;
  margin-bottom: 50px;
  background-color: #f1f1f1;
}
/* line 27, ../sass/_main.scss */
#main code {
  background-color: #eee;
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 12px;
  display: block;
  padding: 10px;
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.07);
  -o-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.07);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  overflow: auto;
}
/* line 38, ../sass/_main.scss */
#main .instructions p {
  margin: 10px 0 10px 0;
}

/*
 * This is where you combine compass-icon-buttons with the spriting magic of Compass
 *
 * See http://compass-style.org/help/tutorials/spriting/ for more info on spriting
 */
/* line 33, silk */
.silk-sprite, .silk-accept, .silk-add {
  background: url('../images/silk-s7ea2d37acf.png') no-repeat;
}

/* line 60, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.silk-accept {
  background-position: 0 0;
}

/* line 60, ../../../.virtualenvs/compass/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.silk-add {
  background-position: 0 -16px;
}

/*
 * Here we'll mix it with our own styles
 *
 * First up: the single line buttons
 */
/* line 25, ../sass/screen.scss */
.single-button-default {
  text-decoration: none;
  padding: 5px;
  -moz-box-sizing: border-box !important;
  display: inline-block;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  cursor: pointer;
  outline: none !important;
}
/* line 133, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-default:hover, .single-button-default:focus {
  border: 1px solid #aaaaaa;
  background: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFC4C4C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
}
/* line 141, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-default:active, .single-button-default.active {
  background: #d7d7d7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC4C4C4', endColorstr='#FFF7F7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -moz-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -o-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -ms-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: linear-gradient(#c4c4c4, #f7f7f7);
}
/* line 35, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-default .icon {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
}
/* line 43, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-default .text {
  line-height: 16px;
  font-size: 12px;
  display: block;
  float: left;
}

/* line 29, ../sass/screen.scss */
.single-button-equal {
  text-decoration: none;
  padding: 5px;
  -moz-box-sizing: border-box !important;
  display: inline-block;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  cursor: pointer;
  outline: none !important;
}
/* line 133, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-equal:hover, .single-button-equal:focus {
  border: 1px solid #aaaaaa;
  background: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFC4C4C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
}
/* line 141, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-equal:active, .single-button-equal.active {
  background: #d7d7d7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC4C4C4', endColorstr='#FFF7F7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -moz-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -o-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -ms-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: linear-gradient(#c4c4c4, #f7f7f7);
}
/* line 28, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-equal .icon {
  margin-top: 2px;
  margin-bottom: 2px;
}
/* line 35, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-equal .icon {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
}
/* line 43, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-equal .text {
  line-height: 1.25;
  font-size: 16px;
  display: block;
  float: left;
}

/* line 34, ../sass/screen.scss */
.single-button-large {
  text-decoration: none;
  padding: 5px;
  -moz-box-sizing: border-box !important;
  display: inline-block;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  cursor: pointer;
  outline: none !important;
}
/* line 133, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-large:hover, .single-button-large:focus {
  border: 1px solid #aaaaaa;
  background: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFC4C4C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
}
/* line 141, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-large:active, .single-button-large.active {
  background: #d7d7d7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC4C4C4', endColorstr='#FFF7F7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -moz-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -o-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -ms-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: linear-gradient(#c4c4c4, #f7f7f7);
}
/* line 28, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-large .icon {
  margin-top: 4.5px;
  margin-bottom: 4.5px;
}
/* line 35, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-large .icon {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
}
/* line 43, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-large .text {
  line-height: 1.25;
  font-size: 20px;
  display: block;
  float: left;
}

/* line 40, ../sass/screen.scss */
.single-button-huge {
  text-decoration: none;
  padding: 5px;
  -moz-box-sizing: border-box !important;
  display: inline-block;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  cursor: pointer;
  outline: none !important;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 133, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-huge:hover, .single-button-huge:focus {
  border: 1px solid #aaaaaa;
  background: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFC4C4C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
}
/* line 141, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-huge:active, .single-button-huge.active {
  background: #d7d7d7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC4C4C4', endColorstr='#FFF7F7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -moz-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -o-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -ms-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: linear-gradient(#c4c4c4, #f7f7f7);
}
/* line 28, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-huge .icon {
  margin-top: 7px;
  margin-bottom: 7px;
}
/* line 35, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-huge .icon {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
}
/* line 43, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.single-button-huge .text {
  line-height: 1.25;
  font-size: 24px;
  display: block;
  float: left;
}

/*
 * Then, some multi line buttons
 */
/* line 53, ../sass/screen.scss */
.multi-button-default {
  text-decoration: none;
  padding: 5px;
  -moz-box-sizing: border-box !important;
  display: inline-block;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  cursor: pointer;
  outline: none !important;
}
/* line 133, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-default:hover, .multi-button-default:focus {
  border: 1px solid #aaaaaa;
  background: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFC4C4C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
}
/* line 141, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-default:active, .multi-button-default.active {
  background: #d7d7d7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC4C4C4', endColorstr='#FFF7F7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -moz-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -o-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -ms-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: linear-gradient(#c4c4c4, #f7f7f7);
}
/* line 72, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-default .icon {
  margin-top: 8.25px;
  margin-bottom: 8.25px;
}
/* line 79, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-default .icon {
  margin-right: 5px;
  line-height: 1.25;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
}
/* line 88, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-default .line1 {
  margin-left: 21px;
  margin-bottom: 5px;
  font-size: 16px;
  white-space: nowrap;
  display: block;
}
/* line 96, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-default .line2 {
  margin-left: 21px;
  line-height: 1.25;
  font-size: 10px;
  white-space: nowrap;
  display: block;
}

/* line 56, ../sass/screen.scss */
.multi-button-large {
  text-decoration: none;
  padding: 5px;
  -moz-box-sizing: border-box !important;
  display: inline-block;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  cursor: pointer;
  outline: none !important;
}
/* line 133, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-large:hover, .multi-button-large:focus {
  border: 1px solid #aaaaaa;
  background: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFC4C4C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
}
/* line 141, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-large:active, .multi-button-large.active {
  background: #d7d7d7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC4C4C4', endColorstr='#FFF7F7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -moz-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -o-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -ms-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: linear-gradient(#c4c4c4, #f7f7f7);
}
/* line 72, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-large .icon {
  margin-top: 12.625px;
  margin-bottom: 12.625px;
}
/* line 79, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-large .icon {
  margin-right: 5px;
  line-height: 1.25;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
}
/* line 88, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-large .line1 {
  margin-left: 21px;
  margin-bottom: 5px;
  font-size: 20px;
  white-space: nowrap;
  display: block;
}
/* line 96, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-large .line2 {
  margin-left: 21px;
  line-height: 1.25;
  font-size: 13px;
  white-space: nowrap;
  display: block;
}

/* line 59, ../sass/screen.scss */
.multi-button-huge {
  text-decoration: none;
  padding: 5px;
  -moz-box-sizing: border-box !important;
  display: inline-block;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  cursor: pointer;
  outline: none !important;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 133, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-huge:hover, .multi-button-huge:focus {
  border: 1px solid #aaaaaa;
  background: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFC4C4C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
}
/* line 141, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-huge:active, .multi-button-huge.active {
  background: #d7d7d7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC4C4C4', endColorstr='#FFF7F7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -moz-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -o-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: -ms-linear-gradient(#c4c4c4, #f7f7f7);
  background-image: linear-gradient(#c4c4c4, #f7f7f7);
}
/* line 72, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-huge .icon {
  margin-top: 16.375px;
  margin-bottom: 16.375px;
}
/* line 79, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-huge .icon {
  margin-right: 5px;
  line-height: 1.25;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
}
/* line 88, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-huge .line1 {
  margin-left: 21px;
  margin-bottom: 5px;
  font-size: 24px;
  white-space: nowrap;
  display: block;
}
/* line 96, ../../../.virtualenvs/compass/gems/gems/icon-buttons-0.1/stylesheets/icon-buttons/_base.scss */
.multi-button-huge .line2 {
  margin-left: 21px;
  line-height: 1.25;
  font-size: 15px;
  white-space: nowrap;
  display: block;
}
/* line 64, ../sass/screen.scss */
.multi-button-huge .icon {
  margin-right: 10px;
}
